<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>


          <div >
              <h1>Vista de Productos</h1>
              <br>

              <% if(hayProductos){ %>
                  <div >
                      <table >
                          <tr>
                              <th>Nombre</th>
                              <th>Precio</th>
                              <th>Foto</th>
                          </tr>
                          <%productos.forEach(function(producto) {%>
                              <tr>
                                  <td>
                                      <%=producto.title%>
                                  </td>
                                  <td>
                                      <%=producto.price%>
                                  </td>
                                  <td><img width="50" src=<%=producto.thumbnail%> alt="not found"></td>
                              </tr>
                              <%});%>
                      </table>
                  </div>
                  <% } else{ %>
                      <h3 >No se encontraron productos</h3>
                      <% } %>

                          <br>
                          <a href="/" type="button" >Cargar un nuevo producto</a>

          </div>
  </div>


</body>

</html>